<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_mybatis:war exploded">
    <output-path>$PROJECT_DIR$/spring_ioc/artifacts/spring_mybatis_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_mybatis" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.4.5" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.34" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.12" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring_mybatis/web/Web" />
    </root>
  </artifact>
</component>